.panel
{
    margin-bottom: 15px;
}

.panel.ui-sortable-helper
{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}

.panel.collapsed .panel-heading
{
    border-bottom: 0;
}

.panel-title,
.modal-title
{
    text-transform: capitalize;
}

.panel-placeholder
{
    background-color: #eee;
    border: 1px #555 dotted;

    /* http://lea.verou.me/css3patterns/#arrows */
    background:
    linear-gradient(45deg, #ccc 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #ccc 45px, transparent 45px,transparent 91px, #eee 91px, #eee 135px, transparent 135px),
    linear-gradient(-45deg, #ccc 23px, transparent 23px, transparent 68px,#ccc 68px,#ccc 113px,transparent 113px,transparent 158px,#ccc 158px);
    background-color:#eee;
    background-size: 128px 128px;
}

.panel-default,
.panel-default .panel-heading
{
    border-color: #bbb;
}

/* gray : #ccc / #555 */
.gray-panel,
.gray-panel .panel-heading,
.gray-panel .panel-heading button
{
    border-color: #999;
}

.gray-panel .panel-heading
{
    color: #333;
    background-color: #ccc;
}

.gray-panel .panel-heading button
{
    color: #ccc;
}

/* blue : #428bca / #357ebd */
.blue-panel,
.blue-panel .panel-heading,
.blue-panel .panel-heading button
{
    border-color: #357ebd;
}

.blue-panel .panel-heading
{
    color: #fff;
    background-color: #428bca;
}

.blue-panel .panel-heading button
{
    color: #428bca;
}

/* orange : #f0ad4e / #de9226 */
.orange-panel,
.orange-panel .panel-heading,
.orange-panel .panel-heading button
{
    border-color: #de9226;
}

.orange-panel .panel-heading
{
    color: #fff;
    background-color: #f0ad4e;
}

.orange-panel .panel-heading button
{
    color: #f0ad4e;
}
