#appfilesmanager .file-input {
    position: relative;
    overflow: hidden;
}

#appfilesmanager .file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#appfilesmanager .files-list {
    margin-top: 15px;
    margin-bottom: 0;
}

#appfilesmanager .files-list .pull-right {
    margin-top: 2px;
}

#appfilesmanager .progress {
   margin: 4px 0 0 0;
   height: 2px;
}

#appfilesmanager .files-list li.selected {
    background-color: #eeeeee;
}

#appfilesmanager .files-list li:hover {
    background-color: #cccccc;
}
